h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Normativa que regula el diseño curricular', 'main.html#page/normativa/')
                    +navTemaItem('2', 'Guía de diseño curricular', 'main.html#page/guia/')
                    +navTemaItem('3', 'Procedimiento de diseño curricular', 'main.html#page/procedimiento/')

