.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo APLICACIÓN DE METODOLOGÍA SENA PARA DISEÑO CURRICULAR
            h1.curso-titulo Verificación de los elementos de entrada

            .brand-line-primary.brand-line-primary--black

            p.curso-descripcion A través del componente formativo Verificación de los elementos de entrada, el aprendiz debe apropiar los elementos de entrada requeridos para el diseño curricular de un programa; así mismo interpretar los elementos que componen la guía de diseño curricular y cuál es el procedimiento para abordar el mismo.

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")