h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 240201063-01
        p.mb-0 Verificar elementos de entrada para diseño del programa de acuerdo con el contexto productivo y guía de diseño curricular
