.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong Ley 119 de 1994   
                td PDF
                td 
                    a(href="https://www.sena.edu.co/es-co/transparencia/FURAG2/Direcci%C3%B3n%20de%20Planeaci%C3%B3n%20y%20Direccionamiento%20Corporativo/Pregunta%208/a.%20Ley%20119%20de%201994.pdf#search=ley%20119%20de%201994", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Ley 749 de 2002
                td PDF
                td 
                    a(href="http://normograma.sena.edu.co/normograma/docs/pdf/ley_0749_2002.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td
                    strong Decreto 249 de 2004
                td PDF
                td 
                    a(href="https://www.sena.edu.co/es-co/transparencia/FURAG2/Direcci%C3%B3n%20de%20Planeaci%C3%B3n%20y%20Direccionamiento%20Corporativo/Pregunta%208/a.%20Decreto_249_de_2004.pdf#search=decreto%20249", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Acuerdo 08 de 1997
                td PDF
                td 
                    a(href="http://normograma.sena.edu.co/normograma/docs/pdf/acuerdo_sena_0008_1997.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Recomendación 195 OIT 
                td PDF
                td 
                    a(href="https://www.ilo.org/dyn/normlex/es/f?p=NORMLEXPUB:12100:0::NO::P12100_ILO_CODE:R195", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong CONPES 81
                td PDF
                td 
                    a(href="https://colaboracion.dnp.gov.co/CDT/Conpes/Social/81.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                              

            tr
                td 
                    strong SNIES
                td URL
                td 
                    a(href="https://www.mineducacion.gov.co/sistemasinfo/snies/", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver enlace
  

            tr
                td 
                    strong Resolución 335 de 2012
                td URL
                td 
                    a(href="https://www.sena.edu.co/es-co/transparencia/FURAG2/Direcci%C3%B3n%20de%20Planeaci%C3%B3n%20y%20Direccionamiento%20Corporativo/Pregunta%20415/415.c%20Resolucion_sena_0335_2012%20Redes%20de%20Conocimiento.pdf#search=Resoluci%C3%B3n%20335%20de%202012", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver enlace


            tr
                td 
                    strong Redes de conocimiento
                td PDF
                td 
                    a(href="http://biblioteca.sena.edu.co/images/PDF/resolucion_sena_0335_2012.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Mapa ocupacional
                td PDF
                td 
                    a(href="https://observatorio.sena.edu.co/Clasificacion/Mapa",target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Clasificación de ocupaciones C N O, CIUO Y CUO
                td PDF
                td 
                    a(href="https://observatorio.sena.edu.co/Content/pdf/cno_version_2018.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Mesa sectorial 
                td URL
                td 
                    a(href="https://www.sena.edu.co/es-co/Empresarios/Paginas/mesasSectoriales.aspx", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver enlace


            tr
                td 
                    strong Estructura funcional de la ocupación y Norma Sectorial de Competencia laboral
                td URL
                td 
                    a(href="http://compromiso.sena.edu.co/documentos/vista/descarga.php?id=1885", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver enlace


            tr
                td 
                    strong Búsqueda de EFO Y NSCL
                td URL
                td 
                    a(href="http://certificados.sena.edu.co/claborales/", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver enlace
 

            tr
                td 
                    strong Lineamiento del plan de diseño
                td Módulo SENA
                td 
                    a(href="http://compromiso.sena.edu.co/documentos", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Resolución 1-2198 de 2019
                td PDF
                td 
                    a(href="http://normograma.sena.edu.co/normograma/docs/resolucion_sena_2198_2019.htm", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

