.container

  ol

    li
      p 
        | SENA (s.f.). Caracterización del proceso gestión de formación profesional integral.  <br><a href="http://compromiso.sena.edu.co/documentos/index.php?opc=1&text=caracterizacion&codigo=GFPI" target="_blank">http://compromiso.sena.edu.co/documentos/index.php?opc=1&text=caracterizacion&codigo=GFPI</a>    

    li
      p 
        | SENA (2017). Clasificación Nacional de ocupaciones.<br> <a href="https://observatorio.sena.edu.co/Clasificacion/Cno" target="_blank">https://observatorio.sena.edu.co/Clasificacion/Cno</a>    

    li
      p 
        | SENA (2017). Redes de conocimiento SENA.  <br>
        a(href="https://www.sena.edu.co/es-co/formacion/Paginas/redesConocimiento.aspx", target="_blank") http://www.sena.edu.co/es-co/formacion/Paginas/redesConocimiento.aspx</a> 

    li
      p 
        | SENA (2017). Mesas sectoriales Puerta de entrada al SENA.  <br>
        a(href="https://www.sena.edu.co/es-co/Empresarios/Paginas/mesasSectoriales.aspx", target="_blank") http://www.sena.edu.co/es-co/Empresarios/Paginas/mesasSectoriales.aspx</a> 

    li
      p 
        | SENA (2017). Normalización de competencias laborales SENA.   <br>
        a(href="https://www.sena.edu.co/es-co/Empresarios/Paginas/competenciasLaborales.aspx", target="_blank") http://www.sena.edu.co/es-co/Empresarios/Paginas/competenciasLaborales.aspx</a>         