include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1. Normativa que regula el diseño curricular

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qc9pEqnjCEE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.my-5
        a(href="media/documentos/Anexo_1_Requerimientos_del_disenio.pdf" target="_blank").media-link      
            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Anexo]. Requerimientos del diseño <small>Diapositivas usadas en el video</small>
            

    section.card-border-bottom.mt-5
        .card
            .card-body

                p.card-text.mb-5 El diseño curricular es uno de los ejes misionales del SENA, con el cual se dará respuesta a las demandas y necesidades de formación presentadas por el sector productivo y social.

                p.my-5 La orientación metodológica de un diseño curricular conlleva a realizar las actividades para identificar los elementos de entrada del programa a diseñar, elaborar los perfiles de egreso e ingreso, estructurar las competencias que direccionan el programa y finalmente gestionar el seguimiento en las diferentes fases para que el programa pueda ser ofertado al sector productivo teniendo en cuenta los requerimientos establecidos en la guía de diseño.

                p Con este programa complementario el aprendiz podrá identificar los conceptos relacionados con la elaboración de un diseño curricular y aplicar los conocimientos a través de ejercicios prácticos que realizará con el desarrollo del curso en forma individual o colaborativa.

