include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 3. Procedimiento de diseño curricular

    p Uno de los elementos de entrada para la elaboración o actualización de un diseño es la Norma sectorial de competencia laboral la cual su principal requisito es que se encuentre vigente y que pueda ser consultada en la página de SENA, de acuerdo con la Mesa Sectorial.

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-3/icon-1.svg")

        p.flex-grow-1 Otro elemento es la ocupación para la cual se va a realizar el diseño y esta es identificada en la Clasificación Nacional de Ocupaciones donde se puede describir el área de desempeño, campos y niveles de cualificación los cuales son identificados por un código.

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-3/icon-2.svg")

        p.flex-grow-1 La normativa para determinar la duración de los programas es otro de los documentos de consulta por tal motivo debe ser interpretada para no caer en errores en requerimientos que componen el diseño.  A partir del siguiente mapa, puede observar los pasos que se deben tener en cuenta al momento de realizar un diseño curricular, los responsables y las evidencias que se deben entregar.


    p.text-center.my-5
        a(href="media/anexo_3/", target="_blank")
            img(src="assets/images/pages/tema-3/mapa.svg")