include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1. Normativa que regula el diseño curricular

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qc9pEqnjCEE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.my-5
        a(href="media/documentos/Anexo_1_Requerimientos_del_disenio.pdf" target="_blank").media-link      
            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Anexo]. Requerimientos del diseño <small>Diapositivas usadas en el video</small>
            

    section.card-border-bottom.mt-5
        .card
            .card-body
                p.card-text.mb-5 Para la elaboración o actualización de programas de formación SENA, se deben tener en cuenta dos aspectos importantes: la Guía y Procedimiento de Diseño Curricular, los cuales son la ruta que tienen los asesores metodológicos para orientar a los expertos técnicos en la jornada de diseño y tener un criterio estandarizado.

                p.my-5 Por lo expuesto, el metodólogo de diseño curricular debe conocer la normatividad aplicada, los elementos de entrada, la terminología empleada en cada una de las fases del diseño, los perfiles de egreso e ingreso, las competencias y la gramática sugerida para la elaboración de la matriz de desempeño. Adicionalmente, todos aspectos contemplados deben estar en concordancia con la denominación del programa, justificación y nivel de cualificación.

