include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 2. Guía de diseño curricular

    p Desde el SENA con la Dirección de Formación Profesional y el grupo de Gestión Curricular, los cuales son responsables de los parámetros técnicos de los diseños curriculares se elabora la guía de diseño curricular.  

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-2/icon-1.svg")

        p.flex-grow-1 En la guía de diseño curricular, se establece la ruta para la elaboración y actualización de programas de formación, evidenciando los requerimientos para que en los programas se identifique el proceso teórico-práctico que se orienta al desarrollo de conocimientos técnicos, tecnológicos, de actitudes y valores para su convivencia social y laboral de los aprendices en los diferentes niveles.

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-2/icon-2.svg")

        p.flex-grow-1 El mapa semántico, que se presenta a continuación, le va a permitir realizar el recorrido por los elementos que componen la guía e identificar los principales elementos a tener en cuenta para su aplicación.

    .jumbotron.bg-white.my-5
        p <strong>Recuerde:</strong>  La guía de diseño curricular, orienta al profesional de diseño la estructura del programa de formación, sus componentes y elementos de entrada.  

    p.text-center.my-5
        a(href="media/anexo_2/", target="_blank")
            img(src="assets/images/pages/tema-2/guia-dc.svg")