@charset "utf-8";
/* CSS Document */

body {		
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
}

* {
    box-sizing: border-box;
	margin: 0px;
}

.marco {
	float: left;
	width: 85%;
	height: 100vh;
}

.dleft {
	float: right;
	position: relative;
	background-color: #F2F6F9;
	width: 15%;
	height: 100vh;
}

.dlfranja {	
	width: 100%;
	height: auto;
	margin: 10px 0 10px 0;
	padding: 5px 0 5px 0;
	background-color: #FE6617;
}

.logo {
	display: block;
	margin: auto;
	width: 60%;
	height: auto;
}

h1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 5px;
	margin: 0px;
	color: #00223D;
	text-align: center;
	font-size: 16px;	
}

.dlbot {
	position: absolute;
	bottom: 10px;
	display: block;
	margin: 0 auto 0 auto;	
	width: 100%;
	font-size: 12px;
	text-align: center;	
}

.teco {
	padding: 5px;
	margin: 0px;
	color: #00223D;
	background-color: #DCE4EA;
}

.tsena {
	padding: 5px;
	margin: 0px;
	color: white;
	background-color: rgba(0,0,0,0.80);
}

.rotar {
	position: fixed;
	top: 110vh;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background-color: rgba(0,0,0,0.93);
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

.contr {
	color:#FFFFFF;
    width: 300px;
    height: 100px;
    position: absolute;
    left:50%; top:50%;
    margin: -100px 0 0 -150px;
}

.imgr{
	width: 150px;
}

.contr p, .conti p {
	margin-top: 10px;
}

.inst {
	position: fixed;
	top: 110vh;
	width: 100%;
	height: 100vh;
	z-index: 5;
	background-color: rgba(0,0,0,0.93);
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: 0.25s;
}

.inst:target {
	top: 0;
	visibility:visible;	
	opacity: 1;
}

.conti {
	color:#FFFFFF;
    width: 90%;
    height: auto;
    position: absolute;
    left:50%; top:50%;
    margin: -100px 0 0 -45%;
}

.tercio {
	padding: 3%;
	width: 33.333%;
	float: left;
	display: inline;
}

.imgi{
	width: 100px;
}

.btna {
	background-color: #31772E;
	border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	cursor: pointer;
}

.btna:hover {background-color: #4CAF50;}

.movil{visibility: hidden;}
.pc{visibility: visible;}

.instmovil{visibility: hidden;}
.instpc{visibility: visible;}

@media screen and (max-width: 900px) {
    h1 {font-size: 18px;}
}

@media screen and (max-width: 768px) {
    h1 {font-size: 15px;}
	.instmovil{visibility: visible;}
	.instpc{visibility: hidden;}
	.tfava{display: none;}
	.tsena{display: none;}
	.btna {
    padding: 10px 18px;
    font-size: 14px;
	margin-bottom: 5px;
	margin-bottom: 10px;
	}
}


@media screen and (max-width: 610px) {
    h1 {font-size: 13px;}		
	.movil{visibility: visible;}
	.pc{visibility: hidden;}
	.logo {width: 70%;}
}

@media screen and (max-width: 500px) {
    .marco {width: 100%;}
	.dleft {display: none;}
}

@media screen and (max-height: 360px) {
    .tfava{display: none;}
	.tsena{display: none;}
}

@media screen and (max-height: 200px) {
    .tfava{display: none;}
	.tsena{display: none;}
	.marco {width: 100%;}
	.dleft {display: none;}
}

@media only screen and (orientation: portrait) {
    .marco {background-color: rgba(0,0,0,0.80);}
	.rotar {
	visibility: visible;
	opacity: 1;
	top: 0;
	}
}